* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* .container{
  max-width:600px;
  margin: auto;
  font-size: 18px;
  padding:20px;
}

.container p{
  margin-bottom: 10px;
} */

header {
  height: 60px;
  background: #972ea5;
  display: flex;
  padding: 0 20px;
}

.menu-toggle {
  display: none;
  margin-left: auto;
  color: #fff;
  line-height: 60px;
  font-size: 25px;
  cursor: pointer;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  text-transform: uppercase;
  font-family: "Press Start 2P", cursive;
}

.logo a .imagLogo {
  display: block;
  color: #fff;
  padding: 2px 0;
  width: 100px;
  line-height: 60px;
}

#menu {
  margin-left: auto;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  line-height: 60px;
  padding: 0 8px;
  text-transform: uppercase;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

#menu ul li a:hover {
  background: rgb(240, 142, 229);
}

.show {
  height: 315px !important;
}

#menu ul li button {
  font-weight: bold;
  padding: 10px 6px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.botones {
  display: inline-block;
}

#login {
  background: rgb(96, 3, 150);
  color: #fff;
}

#registro {
  background: rgb(235, 163, 8);
  color: rgb(255, 255, 255);
}

#login:hover {
  background: rgb(245, 51, 229);
  color: rgb(0, 0, 0);
}

#registro:hover {
  background: rgb(233, 211, 90);
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 700px) {
  .menu-toggle {
    display: block;
  }

  #menu {
    background: rgb(240, 142, 229);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    border: 1px solid #ffffff;
    overflow: hidden;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
  }

  #menu ul li {
    display: block;
    text-align: center;
  }

  #menu ul li a {
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid rgb(75, 38, 134);
    width: 100%;
  }

  #menu ul li a:hover {
    background: rgb(63, 5, 57);
  }

  .container {
    padding: 10px;
  }

  .botones {
    display: flex;
    justify-content: space-evenly;
  }
}
